<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef9176">  <td>20/11/01 23:27:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@7a187f14]">TestWithExcelData</td> 
  <td>main@175408781</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/11/01 23:27:10</td>   <td>1705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@7a187f14]">TestWithExcelData</td> 
  <td>main@175408781</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/11/01 23:27:10</td>   <td>1927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@7a187f14]">TestWithExcelData</td> 
  <td>main@175408781</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/11/01 23:27:10</td>   <td>2167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@7a187f14]">TestWithExcelData</td> 
  <td>main@175408781</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/11/01 23:27:10</td>   <td>2417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@7a187f14]">TestWithExcelData</td> 
  <td>main@175408781</td>   <td></td> </tr>
</table>
