<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef9176">  <td>20/11/01 21:54:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@307f6b8c]">TestWithExcelData</td> 
  <td>TestNG-tests-1@879474091</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/11/01 21:54:41</td>   <td>1697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@307f6b8c]">TestWithExcelData</td> 
  <td>TestNG-tests-1@879474091</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/11/01 21:54:41</td>   <td>1893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@307f6b8c]">TestWithExcelData</td> 
  <td>TestNG-tests-1@879474091</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/11/01 21:54:41</td>   <td>2118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@307f6b8c]">TestWithExcelData</td> 
  <td>TestNG-tests-1@879474091</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/11/01 21:54:41</td>   <td>2375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelDataProvider.TestWithExcelData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qaservices.test.ExcelDataProvider@307f6b8c]">TestWithExcelData</td> 
  <td>TestNG-tests-1@879474091</td>   <td></td> </tr>
</table>
